:root {
  --vp-sidebar-width: 320px;
}

@media (min-width: 1440px) {
  :root {
    --vp-sidebar-width: 360px;
  }
}

@media (min-width: 768px) {
  .VPNavBarSearch .DocSearch-Button {
    width: 240px;
  }
}
